.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-weight: 500;
  color: white;
}

.button {
  background-color: #ef5350;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e53935;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
